<form class="form-signin" method="post" action="/api/register">
  <div class="text-center mb-4"><img class="mb-4" src="./assets/bootstrap-solid.svg" alt="" width="72" height="72" />
    <!--h1.h3.mb-3.font-weight-normal Floating labels-->
    <!--p-->
    <!--    | Build form controls with floating labels via the-->
    <!--    code :placeholder-shown-->
    <!--    |  pseudo-element.-->
    <!--    a(href='https://caniuse.com/#feat=css-placeholder-shown') Works in latest Chrome, Safari, and Firefox.-->
  </div>
  <div class="form-label-group">
    <input class="form-control" id="inputFirstName" type="text" name="first_name" placeholder="First Name" required="" autofocus="" />
    <label for="inputFirstName">First Name</label>
  </div>
  <div class="form-label-group">
    <input class="form-control" id="inputLastName" type="text" name="last_name" placeholder="Last Name" required="" autofocus="" />
    <label for="inputLastName">Last Name</label>
  </div>
  <div class="form-label-group">
    <input class="form-control" id="inputEmail" type="email" name="email" placeholder="Email address" required="" autofocus="" />
    <label for="inputEmail">Email address</label>
  </div>
  <div class="form-label-group">
    <input class="form-control" id="inputPassword" type="password" name="password" placeholder="Password" required="" />
    <label for="inputPassword">Password</label>
  </div>
  <div class="form-label-group">
    <input class="form-control" id="confirmedPassword" type="password" name="confirmedPassword" placeholder="Confirmed Password" required="" />
    <label for="confirmedPassword">Confirmed Password</label>
  </div>
  <!--.checkbox.mb-3-->
  <!--    label-->
  <!--        input(type='checkbox', value='remember-me')-->
  <!--        |  Remember me-->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  <button class="btn btn-lg btn-primary btn-block" type="button" value="back-to-sign-in" onclick="window.location.href='/'">Back</button>
</form>
