<h6>Drafts Deals</h6>
//TODO add drafts deals logic
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 9%">#</th>
      <th scope="col" style="width: 60%">Deals</th>
      <th scope="col" style="width: 10%">Price</th>
      <th scope="col" style="width: 12%">Quantity</th>
      <th scope="col" style="width: 9%"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let activeDeal of activeDealList">
      <tr>
        <th scopr="row">{{ ('000' + activeDeal.dealId).slice(-4) }}</th>
        <td>
          <div>
            {{ activeDeal.title }}
            <br />
            <br />
            {{ activeDeal.description }}
            <br />
            <br />
            <div *ngFor="let link of activeDeal.deallinks">
              <div *ngIf="link.linkName">Link Label: {{ link.linkName }}</div>
              <a href="" (click)="goToLink(link.link)">{{ link.link }}</a>
              <br />
            </div>
            <!-- </ng-container> -->
          </div>
        </td>
        <td>{{ activeDeal.price }}</td>
        <td>{{ activeDeal.quantity }}</td>
        <td><button class="btn btn-primary btn-sm">Take</button></td>
      </tr>
    </ng-container>
  </tbody>
</table>
