<table class="table" id="GroupTable">
    <thead>
      <tr>
        <th scope="col" style="width:9%">#</th>
        <th scope="col" style="width:40%">Name</th>
        <th scope="col" style="width:40%">Number of Members</th>
        <th scope="col" style="width:11%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- <ng-container *ngFor="let follower of followersList; index as i">
        <tr>
          <th scopr="row">{{ ('000' + follower.id).slice(-4) }}</th>
          <td>
            {{ follower.individual }}
          </td>
          <td>{{ statusLevel[follower.status] }}</td>
          <td>
            <div>
              <button class="btn btn-primary btn-sm mb-1">Edit</button>
              <button class="btn btn-primary btn-sm" *ngIf="!follower.status" (click)="setActive(i)">Approve</button>
            </div>
          </td>
        </tr>
      </ng-container> -->
    </tbody>
  </table>
