
<table class="table" id="GroupTable">
  <thead>
    <tr>
      <th scope="col" style="width:9%">#</th>
      <th scope="col" style="width:60%">Followers</th>
      <th scope="col" style="width:20%">status</th>
      <th scope="col" style="width:11%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let follower of followersList">
      <tr>
        <th scopr="row">{{ ('000' + follower.id).slice(-4) }}</th>
        <td>
          {{ follower.individual }}
        </td>
        <td>{{ statusLevel[follower.status] }}</td>
        <td>
          <div>
            <button class="btn btn-primary btn-sm mb-1">Edit</button>
            <button class="btn btn-primary btn-sm" *ngIf="!follower.status">Approve</button>
          </div>
        </td>
      </tr>
    </ng-container>

    <!-- <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Active</td>
        <td><button class="btn btn-primary btn-sm">Edit</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Ask to follow</td>
        <td><button class="btn btn-primary btn-sm">Edit</button>
        <button class="btn btn-primary btn-sm">Accept</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Blocked</td>
        <td><button class="btn btn-primary btn-sm">Edit</button></td>
      </tr> -->
  </tbody>
</table>
