<div class="my-3 p-3 bg-white rounded shadow-sm container">
  <h5 class="border-bottom border-gray pb-2 mb-0">Active Deals</h5>
  <div
    *ngFor="let activeDeal of activeDealList; index as i"
    class="media text-muted pt-3"
  >
    <h6 class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">{{ activeDeal.title }}</strong>
      {{ activeDeal.description }}
    </h6>
  </div>
  <small class="d-block text-right mt-3">
    <a>All deals</a>
  </small>
</div>
<!-- https://www.bootdey.com/snippets/view/list-with-description#html -->
