main.container(role='main')
  .align-items-center
  .card(style='width: 18rem;')
  .card-body
    h5.card-title Group
    p.card-text
      | you don't have any group
    a.card-link(href='#') create a group
    a.card-link(href='#') join a group