main.container(role='main')
  .d-flex.align-items-center.p-3.my-3.text-white-50.bg-purple.rounded.shadow-sm
    //- img.mr-3(src='/docs/4.3/assets/brand/bootstrap-outline.svg', alt='', width='48', height='48')
    .lh-100
      h2.mb-0.text-primary.lh-100= user_welcome_name