<div class='container m-t-1'><div class='row'>
    <div class='col-lg-3 col-md-4'>
    <div class='card'>
    <div class='card-block'>
    <h3 class='card-header'>Offers</h3>
    </div>
    <ul class='list-group list-group-flush'>
    <li class='list-group-item'>
    <a class="card-link" routerLink="/home/active">active offers
    </a></li>
    <li class='list-group-item'>
    <a class="card-link" routerLink="/home/expired">expired offers
    </a></li>
    <li class='list-group-item'>
    <a class="card-link" routerLink="/home/drafts">proposed offers
    </a></li>
    </ul>
    </div>
    </div>
    <div class='col-lg-3 col-md-4'>
    <div class='card'>
    <div class='card-block'>
    <h3 class='card-header'>Inbound</h3>
    </div>
    <ul class='list-group list-group-flush'>
    <li class='list-group-item'>
    <a class="card-link" routerLink="/inbound/inboundToConfirm">inbound items
    </a></li>
    <li class='list-group-item'>
    <a class="card-link" routerLink="/inbound/inboundReported">reported items
    </a></li>
    </ul>
    </div>
    </div>
    <!-- <div class='col-lg-3 col-md-4'>
    <div class='card'>
    <div class='card-block'>
    <h4 class='card-header'>Outbound</h4>
    </div>
    <ul class='list-group list-group-flush'>
    <li class='list-group-item'>
    <a class="card-link" href="/shipments">0 outbound shipments
    </a></li>
    </ul>
    </div>
    </div> -->
    <!-- <div class='col-lg-3 col-md-4'>
    <div class='card'>
    <div class='card-block'>
    <h4 class='card-title'>Payments</h4>
    </div>
    <ul class='list-group list-group-flush'>
    <li class='list-group-item'>
    <a class="card-link" href="/payment_requests">0 payment requests
    </a></li>
    </ul>
    </div>
    </div> -->
    </div>
    </div>
