<div ng-controller="registerFromController"></div>
<div class="text-center mb-4">
  <img
    class="mb-4"
    src="./assets/bootstrap-solid.svg"
    alt=""
    width="72"
    height="72"
  />
</div>
<form class="form-signin" (ngSubmit)="user_register()" #registerFrom="ngForm">
  <div class="alert alert-primary" role="alert" *ngIf="isRegistered">
    You have successfully registered!
    <br />
    <a class="alert-link" routerLink="/signin">Click here back to sign in</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="!pwdValid() && !password.pristine && !ConfirmedPassword.pristine"
  >
    Password and Confirmed Password are not match!
  </div>
  <div class="form-label-group">
    <input
      type="text"
      class="form-control"
      id="FirstName"
      required
      autofocus
      [(ngModel)]="register.FirstName"
      name="FirstName"
      #FirstName="ngModel"
    />
    <label for="FirstName">First Name</label>
  </div>
  <div class="form-label-group">
    <input
      type="text"
      class="form-control"
      id="LastName"
      required
      autofocus
      [(ngModel)]="register.LastName"
      name="LastName"
    />
    <label for="inputLastName">Last Name</label>
  </div>
  <div class="form-label-group">
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      required
      autofocus
      [(ngModel)]="register.email"
      ngModel email
      #email="ngModel"
    />
    <label for="inputEmail">Email</label>
    <small class="form-text text-muted">* Required</small>
  </div>
  <div class="form-label-group">
    <input
      type="password"
      class="form-control"
      id="password"
      required
      autofocus
      [(ngModel)]="register.password"
      name="password"
      #password="ngModel"
    />
    <label for="password">Password</label>
    <small class="form-text text-muted">* Required</small>
  </div>
  <div class="form-label-group">
    <input
      type="password"
      class="form-control"
      id="ConfirmedPassword"
      required
      autofocus
      [(ngModel)]="confirmedPassword"
      name="ConfirmedPassword"
      #ConfirmedPassword="ngModel"
    />
    <label for="ConfirmedPassword">Confirmed Password</label>
    <small class="form-text text-muted">* Required</small>
  </div>
  <button
    class="btn btn-lg btn-primary btn-block"
    [disabled]="!pwdValid()"
    type="submit"
  >
    Register
  </button>
</form>
