<!-- {{ deal | json }}
{{ selectProduct }}
{{month}} -->
<!-- {{deal | json}} -->
<div class="container">
  <ul class="nav nav-tabs" id="dealTabs" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="active-tab"
        data-toggle="tab"
        routerLink="active"
        role="tab"
        aria-controls="active"
        aria-selected="true"
        >Active Deals</a
      >
    </li>
    <!-- <li class="nav-item">
      <a
        class="nav-link"
        id="expired-tab"
        data-toggle="tab"
        routerLink="expired"
        role="tab"
        aria-controls="expired"
        aria-selected="false"
        >Expired Deals</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="favorite-tab"
        data-toggle="tab"
        routerLink="favorite"
        role="tab"
        aria-controls="favorite"
        aria-selected="false"
        >Favorite Deals</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="drafts-tab"
        data-toggle="tab"
        routerLink="drafts"
        role="tab"
        aria-controls="drafts"
        aria-selected="false"
        *ngIf="privilege"
        >Drafts Deals</a
      >
    </li> -->
  </ul>
  <br />
  <form class="float-left my-2">
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Search"
      aria-label="Search"
      id="searchInput"
      (keyup)="search()"
    />
  </form>
  <div class="float-right my-2">
    <button
      type="button"
      class="btn btn-outline-success btn-block"
      data-toggle="modal"
      data-target="#createForm"
      data-whatever="@mdo"
      *ngIf="privilege"
    >
      Create
    </button>
  </div>

  <div class="tab-content" id="dealLists">
    <router-outlet></router-outlet>
  </div>
  <div
    class="modal fade"
    id="createForm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createFrom"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createFrom">Deal Create Form</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="deal-product" class="col-form-label">Product:</label>
              <select
                class="selectpicker form-control"
                data-live-search="true"
                name="product"
                [(ngModel)]="selectProduct"
                (ngModelChange)="setProductNameId()"
              >
                <option
                  *ngFor="let nameid of productList"
                  name="productsId"
                  [ngValue]="nameid"
                >
                  {{ nameid.name }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="deal-price" class="col-form-label">Price:</label>
              <input
                type="text"
                class="form-control"
                id="deal-price"
                name="price"
                [(ngModel)]="deal.price"
              />
            </div>
            <div class="form-group">
              <label for="deal-quantity" class="col-form-label"
                >Quantity:</label
              >
              <input
                type="number"
                class="form-control"
                id="deal-quantity"
                name="quantity"
                [(ngModel)]="deal.quantity"
              />
            </div>
            <div class="form-group">
              <label for="deal-expires" class="col-form-label"
                >Expires At:</label
              >
              <div class="row">
                <div class="col-md-3">
                  <select
                    class="custom-select d-block w-100"
                    id="month"
                    name="month"
                    [(ngModel)]="month"
                    required
                  >
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <select
                    class="custom-select d-block w-100"
                    id="days"
                    name="days"
                    [(ngModel)]="days"
                    required
                  >
                    <option value="">1</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <select
                    class="custom-select d-block w-100"
                    id="years"
                    name="year"
                    [(ngModel)]="year"
                    required
                  >
                    <option value="">2014</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <select
                    class="custom-select d-block w-100"
                    id="hours"
                    name="hour"
                    [(ngModel)]="hour"
                    required
                  >
                    <option value="">00</option>
                    <option>00</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <select
                    class="custom-select d-block w-100"
                    id="minutes"
                    name="minutes"
                    [(ngModel)]="minutes"
                    required
                  >
                    <option value="">00</option>
                    <option>00</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                    <option>35</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                    <option>41</option>
                    <option>42</option>
                    <option>43</option>
                    <option>44</option>
                    <option>45</option>
                    <option>46</option>
                    <option>47</option>
                    <option>48</option>
                    <option>49</option>
                    <option>50</option>
                    <option>51</option>
                    <option>52</option>
                    <option>53</option>
                    <option>54</option>
                    <option>55</option>
                    <option>56</option>
                    <option>57</option>
                    <option>58</option>
                    <option>59</option>
                  </select>
                </div>
              </div>
              By default, expires in 3 days.
            </div>
            <div class="form-group">
              <label for="product-Note" class="col-form-label">Note:</label>
              <textarea
                type="text"
                class="form-control"
                id="product-note"
                cols="30"
                rows="5"
                name="note"
                [(ngModel)]="deal.note"
              ></textarea>
            </div>
            <!-- <div class="form-group">
              <label for="deal-bonus" class="col-form-label">Bonus:</label>
              <input type="text" class="form-control" id="deal-bonus" name="bonus" [(ngModel)]="deal.bonus"/>
              Give bonus for inbound items to self storages.
            </div> -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="deal-service-tag"
                name="serviceTag"
                [(ngModel)]="deal.serviceTag"
              />
              <label class="form-check-label" for="deal-service-tag">
                Service Tag
              </label>
            </div>
            Require service tags when members confirm inbound items.
            <hr />
            <!-- <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="public"
                id="publicRadio"
                value="true"
                name="dealPublic"
                [(ngModel)]="deal.dealPublic"
              />
              <label class="form-check-label" for="publicRadio">Public</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="private"
                id="privateRadio"
                value="false"
                name="dealPrivate"
                [(ngModel)]="deal.dealPublic"
              />
              <label class="form-check-label" for="PrivateRadio">Private</label>
            </div> -->
            Make Deal Public Or Private
            <br>
            <button
            type="button"
            class="btn btn-primary mt-1"
            (click) = "makePublic()"
          >
            Public
          </button>
          <button
          type="button"
          class="btn btn-primary mt-1 ml-3"
          (click) ="makePrivate()"
        >
          Private
        </button>
        <br>
            <div class="form-group" *ngIf="isPublic">
                <label for="recipient-name" class="col-form-label">Member:</label>
                <select
                  class="selectpicker"
                  multiple
                  data-live-search="true"
                  name="selectedMember"
                  [(ngModel)]="membersTemp"
                >
                  <option
                    *ngFor="let member of memberList"
                    name="member"
                  >
                    {{ member.individual }}
                  </option>
                </select>
              </div>
              <div class="form-group" *ngIf="isPrivate">
                  <label for="recipient-name" class="col-form-label">Member:</label>
                  <select
                    class="selectpicker"
                    multiple
                    data-live-search="true"
                    name="selectedMember"
                    [(ngModel)]="membersTemp"
                  >
                    <option
                      *ngFor="let group of groupList"
                      name="group"
                      value="{{group.member}}"
                    >
                      {{ group.name }}
                    </option>
                  </select>
                </div>
            <hr />
            Every member can see public offers. Only selected users can see
            private offers.
            <br />
            <br />
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="notify"
                name="notify"
                [(ngModel)]="deal.notify"
              />
              <label class="form-check-label" for="notify">
                Notify everyone who can see the offer
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="create()"
            data-dismiss="modal"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
