<table class="table" id="productTable">
  <thead>
    <tr>
      <th scope="col" style="width: 9%">#</th>
      <th scope="col" style="width: 80%">Products</th>
      <th scope="col" style="width: 11%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let activeProducts of activeProductsList">
      <tr>
        <th scopr="row">{{ ('000' + activeProducts.id).slice(-4) }}</th>
        <td>
          {{ activeProducts.name }}
        </td>
        <td>
          <!-- <button class="btn btn-primary btn-sm mb-1">Details</button> -->
          <!-- <button class="btn btn-primary btn-sm">Edit</button> -->
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
